main {
  width: 800px;
  margin: 200px auto 72px auto;
  padding: 20px;
  border: 4px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(209, 103, 38);
}

h1 {
  font-size: 30px;
}

#todays-challenge {
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-size: 52px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgb(59, 59, 59);
  margin-top: -122px;
}

a {
  color: rgb(73, 29, 50);
}

#date-of-today {
  color: rgb(66, 2, 2);
}
